---
layout: archive
title: "Pesquisa"
permalink: /pesquisa/
author_profile: true
---

<div class="wordwrap">
  Meus artigos solo ou em parceria podem ser encontrados no
  {% if site.author.uri %}<a href="{{site.author.uri}}">meu site pessoal</a>{% endif %}{% if site.author.uri and site.author.googlescholar %}, {% endif %}
  {% if site.author.googlescholar %}<a href="{{site.author.googlescholar}}">Google Scholar</a>{% endif %}{% if site.author.academia and (site.author.uri or site.author.googlescholar) %}, {% endif %}
  {% if site.author.academia %}<a href="{{site.author.academia}}">Academia.edu</a>{% endif %}.
</div>

<!-- Linha separadora + versão em inglês -->
<hr style="margin: 1em 0; border: 0; border-top: 1px solid #e0e0e0;"> <!-- Linha cinza clara -->
<div class="wordwrap">
  <small><em>My papers can be found on
  {% if site.author.uri %}<a href="{{site.author.uri}}">my personal website</a>{% endif %}{% if site.author.uri and site.author.googlescholar %}, {% endif %}
  {% if site.author.googlescholar %}<a href="{{site.author.googlescholar}}">Google Scholar</a>{% endif %}{% if site.author.academia and (site.author.uri or site.author.googlescholar) %}, {% endif %}
  {% if site.author.academia %}<a href="{{site.author.academia}}">Academia.edu</a>{% endif %}.</em></small>
</div>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
